.section {
    margin: 5px 0;
}

.section__div {
    background-color: #fff;
    padding: 10px 20px;
    margin: 0px 0px 1px 0px;
    box-shadow: 1px 1px 1px 0px #CCCCCC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.section__header {
    margin: 0;
}

.section__container {
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 1px 1px 1px 0px #CCCCCC;
}

.section__hiddenButtons {
    display: flex;
}

@media (max-width: 767px) {
    .section__div {
        flex-direction: column;
    }

    .section__header {
        margin-bottom: 10px;
    }

    .section__hiddenButtons {
        flex-direction: column;
    }
}