.form {
    display: flex;
    justify-content: space-between;
}

.form__button {
    background-color: teal;
    color: white;
    padding: 8px 5px;
    border: 0px;
    flex-basis: 20%;
    transition: 0.5s;
}

.form__button:hover {
    background-color: hsl(180, 100%, 20%);
    transform: scale(1.05);
}

.form__field {
    padding: 5px;
    border: #ccc solid 2px;
    flex-basis: 78%;
    transition: 1s;
}

.form__field:hover {
    border: hsl(0, 0%, 70%) solid 2px;
    transform: scale(1.02);
}

.form__li {
    list-style: none;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    padding: 10px 0;
    border-bottom: 2px solid hsl(0, 0%, 80%);
}

.form__li--hidden {
    display: none;
}

.form__li--done {
    text-decoration: line-through;
}
/* 
.buttons__hidden {
    border: none;
    background-color: white;
    color: teal;
    transition: 1s;
}

.buttons__hidden:hover {
    transform: scale(1.05);
}

.buttons__hidden:disabled {
    color: rgb(122, 122, 122);
} */

@media (max-width: 767px) {
    .form {
        flex-wrap: wrap;
    }

    .form__field {
        flex-basis: 100%;
        margin-bottom: 10px;
    }

    .form__button {
        flex-basis: 100%;
    }
    
}